In [1]:
### TO DO: restructure code -- move dependencies (imports) & variable declarations to the top, etc...

### TO DO: review diff methods for iterating through list of dict and printing key:value pairs to terminal

In [2]:
# Create list of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

# Iterate through list (print contents) using for-loop
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# Create list of dictionaries (High_School:Type pairs)
high_school_types = [{"High_School": "Griffin", "Type":"District"},
                    {"High_School": "Figueroa", "Type": "District"},
                    {"High_School": "Wilson", "Type": "Charter"},
                    {"High_School": "Wright", "Type": "Charter"}] 

# Iterate through list of dict (print each dict, i.e., key:value pair) using for-loop.
for dic in high_school_types:
    for High_School,Type in dic.items(): 
        print(f'{High_School}'+ f' {Type}')

High_School Griffin
Type District
High_School Figueroa
Type District
High_School Wilson
Type Charter
High_School Wright
Type Charter

In [4]:
# Create expanded list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

# Iterate through list using for-loop.
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [5]:
# Add Pandas dependency (import the Pandas library as the alias 'pd')
import pandas as pd

In [6]:
# Convert list to series
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [7]:
# Iterate through series  
for high_schools in school_series:
    print(high_schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [8]:
# Create dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [9]:
# Convert dict of high schools to pandas DataFrame (school_df)
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [10]:
# Create 3 separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [11]:
# Add Pandas dependency (import Pandas as alias 'pd')
import pandas as pd

# Initialize (create an empty) DataFrame
schools_df = pd.DataFrame()

# Add  school ID list to empty DataFrame
schools_df["School_ID"] = school_id

# Add  school Name list to DataFrame
schools_df["School_Name"] = school_name

# Add  school Type list to DataFrame
schools_df["School_Type"] = type_of_school

In [12]:
# Print DataFrame
print(schools_df)

   School_ID            School_Name School_Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [13]:
# Print the DataFrame column names using .columns method
print(school_df.columns)

Index(['School ID', 'school_name', 'type'], dtype='object')

In [14]:
# Print the DataFrame column indexes using .index method
print(school_df.index)

RangeIndex(start=0, stop=5, step=1)

In [15]:
# Print the DataFrame column values using .values method
print(school_df.values)

[[0 'Huang High    School' 'District']
 [1 'Figueroa High School' 'District']
 [2 'Shelton High School' 'Charter']
 [3 'Hernandez High School' 'District']
 [4 'Griffin High School' 'Charter']]

In [16]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

# Convert the dictionary high_schools_dict to a DataFrame.  
high_schools_dict = pd.DataFrame(high_schools_dict)
high_schools_dict

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
# Create separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [19]:
### Convert List(s) or Series to a DataFrame (df)

# Initialize empty DataFrame
schools_df = pd.DataFrame()

# Add lists to DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

# Print DataFrame
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [20]:
# Create dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [24]:
### Convert Dict to a DataFrame (df)

# Initialize empty DataFrame
high_schools_df = pd.DataFrame()

# Add items in dict to DataFrame
high_schools_df["School ID"] = school_id
high_schools_df["School Name"] = school_name
high_schools_df["School Type"] = type_of_school

# Print DataFrame
high_schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [27]:
# Print list of column names (Keys)
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [28]:
# Print RangeIndex (use to generate list of Indices)
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
# Print array of Values (without column names)
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)